@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
   background-color: #39B4F9;
}

#heading {
   text-align: center;
   font-family: 'Bangers', cursive;
   font-size: 70px;
   color: #ffffff;
   filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.226));
}

#menuAndGifContainer {
   display: flex;
   justify-content: space-evenly;
   font-family: 'Bangers', cursive;
   font-size: 30px;
}

#menuAndGifContainer p,
h3 {
   margin-top: 0.2em;
   margin-bottom: 0.2em;
}

#menuAndGifContainer p {
   color: rgb(77, 77, 77);
}

#midtown,
#campus,
#gif {
   /* display: flex;
   flex-direction: column; */
   /* padding-left: 20px; */
   margin-left: 20px;
   margin-right: 20px;
   width: 550px;
   align-items: center;
   justify-content: center;
}

#gif-box {
   display: flex;
   align-content: flex-start;
   justify-content: center;
}


#box-heading {
   color: aquamarine;
   font-size: 60px;
   font-weight: 100;
   text-align: center;
   /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
   font-family: 'Bangers', cursive;
   filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.226));
}

img {
   width: 500px;
   /* max-width: 500px; */
}

.menuItem {
   background-color: white;
   /* box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.205); */
   margin: 10px 30px;
   padding: 20px 20px 20px 20px;
   border-radius: 8px;
   /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
   /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.356) 0px 2px 6px 2px;
}